<script setup>
import {defineProps} from "vue";
import {useTaskStore} from "@/stores/TaskStore.js";

const { task } = defineProps(['task'])
const taskStore = useTaskStore()
</script>

<template>
  <div class="task">
    <h3>{{ task.title }}</h3>
    <div class="icons">
      <i
          class="material-icons"
          @click="taskStore.deleteTask(task.id)"
      >delete</i>
      <i
          class="material-icons"
          :class="{ active: task.isFave }"
          @click="taskStore.toggleFav(task.id)"
      >favorite</i>
    </div>
  </div>
</template>

<style scoped>

</style>