@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
    background: #f2f2f2;
    color: #444;
    margin: 0;
}
body * {
    font-family: "Poppins";
}

/* header */
header {
    text-align: center;
    background: #e7e7e7;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    max-width: 60px;
    transform: rotate(-10deg);
}
header h1 {
    margin: 0;
    font-size: 2em;
    padding-top: 25px;
    margin-left: 15px;
    color: #777;
    transform: rotate(2deg);
}
/* task */
.task-list {
    max-width: 640px;
    margin: 20px auto;
}
.task {
    padding: 6px 20px;
    background: #fff;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task h3, .task .icons {
    display: inline-block;
}
.task .icons {
    text-align: right;
}
.task i {
    font-size: 1.4em;
    margin-left: 6px;
    cursor: pointer;
    color: #bbb
}
.task i.active {
    color: #ff005d
}
/* filter & reset */
.filter, .reset {
    width: 640px;
    margin: 10px auto;
    text-align: right;
}
.filter button, .reset button {
    display: inline-block;
    margin-left: 10px;
    background: #fff;
    border: 2px solid #555;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 1em;
 }
/* form */
.new-task-form {
    background: #e7e7e7;
    padding: 20px 0;
}
form {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
form button {
    background: #ffd859;
    border: 0;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
}
form input {
    border: 0;
    padding: 10px;
    border-radius: 6px;
    color: #555;
    font-size: 1em;
}
/* loading */
.loading {
    max-width: 640px;
    border: 1px solid #ffd859;
    background: #ffe9a0;
    color: #3a3a3a;
    padding: 5px 0;
    text-align: center;
    margin: 30px auto;
}
/* reset */
