<script setup>
import TaskItem from "./components/TaskItem.vue"
import TaskForm from "./components/TaskForm.vue"
import {useTaskStore} from "@/stores/TaskStore.js";
import {ref} from "vue";
import {storeToRefs} from "pinia";

const taskStore = useTaskStore()

taskStore.getTasks()

const filter = ref('all')

const { tasks, favs, isLoading, totalCount, favsCount } = storeToRefs(taskStore)
</script>

<template>
  <main>
    <header>
      <img src="./assets/pinia-logo.svg" alt="pinia logo">
      <h1>Pinia Tasks</h1>
    </header>

    <div class="new-task-form">
      <TaskForm />
    </div>

    <nav class="filter">
      <button @click="filter = 'all'">All tasks</button>
      <button @click="filter = 'favs'">Fave tasks</button>
    </nav>

    <div class="loading" v-if="isLoading">
      Loading tasks...
    </div>

    <div class="task-list" v-if="filter === 'all'">
      <p>You have {{ totalCount }} tasks</p>
      <div v-for="task in tasks">
        <TaskItem :task="task"/>
      </div>
    </div>

    <div class="task-list" v-if="filter === 'favs'">
      <p>You have {{ favsCount }} favourite tasks</p>
      <div v-for="task in favs">
        <TaskItem :task="task"/>
      </div>
    </div>

    <div class="reset">
      <button @click="taskStore.$reset">Reset</button>
    </div>

  </main>
</template>

<style scoped>

</style>
